extends layout

block header
  div(class='row')
    div(class='col-12')
      div(class='dropdown') Airlines
        div(class='dropdown-content')
          a(href='/') All
          each airline in airlines
            a(href=airline.slug)= airline.airline
