extends layout

block content
  ul
    li
      a(href='/arrivals') Arrivals
    li
      a(href='/departures') Departures
    li
      a(href='/airlines') Airlines
    li
      a(href='/stats') Stats
