doctype
html(lang="is")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="/styles.css")
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title=title

  body
    main(class='grid')
      block header
      block content
