body {
  display: flex;
  flex-direction: row;
}

main {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  background: #eee;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

tbody tr:nth-child(2n) {
  background: #f2f2f2;
}

tbody tr:hover {
  background: #ddd;
}

.dropdown {
  display: inline-block;
  position: sticky;
  top: 0;
}

.dropdown-header {
  background: #333;
  color: #fff;
  display: block;
  font-size: 2rem;
}

.dropdown-content {
  font-size: 1rem;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 1rem;

}

.dropdown-content a:hover {
  background: #aaa;
}

@media(max-width: 600px) {
  .dropdown-content {
    width: 100%;
  }
}
